
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
form{
    height: 540px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(105, 103, 103, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover{
    background-color: rgba(208, 208, 208, 0.48); /* Green */
    color: white;
}

.register{
    text-align: center;
}

#toasts {
    align-items: center;
    left: 400px;
    top: -3px;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.toast {
    border-radius: 10px;
    color: #000000;
    margin: 0.3rem;
    height: 80px;
    width: 222px;
    text-align: center;
    font-size: 15px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(105, 103, 103, 0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 15px;
}

.toast.info {
    background-color: #9d9d9d;
}

.toast.success {
    background-color: #42aa5f;
}

.toast.error {
    background-color: #ae3f3f;
}

body {
    background: linear-gradient(-45deg, #bb912c, #242e6b, #e73c7e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
